%clickables {
  @include fontsize;
  border: 2px solid;
  margin: 2px;
  color: $prim;
  background: $light;

  cursor: pointer;
  padding: 0.1rem 0.1rem;
  margin-top: 0.1rem;

  &:hover {
    color: $alert;
  }
}
.link {
  @extend %clickables;
  text-decoration: none;
}
.button {
  @extend %clickables;
}
