%clickables {
  @include fontsize;
  position: flex;
  border: 2px solid;
  margin: 2px;
  color: $prim;
  background: $light;

  cursor: pointer;
  padding: 0.2rem 0.2rem;
  margin: 0.4rem;

  &:hover {
    color: $light;
    background-color: $prim;
  }
}
.link {
  @extend %clickables;
  text-decoration: none;
}
.button {
  @extend %clickables;
}
