//
@import "./fonts";
@import "./colors";
@import "./mixin";
@import "./clickables";
//
body {
  margin: 0;
  // display: block;
}
//
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $light;
  color: $prim;
}

.header {
  border-bottom: 3px;
  border-color: $prim;
  background-color: $light;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $prim;
  .drop {
    display: flex;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60%;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  flex-direction: row;
}
.qcard {
  // flex: 1;
  flex-direction: column;
  max-width: 18rem;
  min-height: fit-content;

  img {
    max-width: 100%;
  }
}
.rcard {
  flex: 1;
  max-width: 18rem;
  text-align: left;
  font-size: 16px;

  margin-bottom: 1rem;
}
.form {
  display: flex;
}
.input {
  background-color: $prim;
  height: 1.3rem;
  color: $light;
  max-width: 11rem;
}

.footer {
  margin-top: 1rem;
  padding-top: 1rem;
  max-height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: inherit;
}

.nav {
  display: flex;
  justify-content: space-around;
}

//mi2
@media (min-width: 425px) {
  .cards {
    // font-size: larger;
    flex-direction: column;
  }
}
@media (min-width: 356px) {
  .header {
    justify-content: left;
    margin: 0;
  }
  .cards {
    flex-direction: column;
  }
}
