//
@import "./fonts";
@import "./colors";
@import "./mixin";
@import "./clickables";
//
body {
  margin: 0;
  // display: block;
}
//
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $light;
  color: $prim;
}

.header {
  border-bottom: 3px;
  border-color: $prim;
  background-color: $light;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $prim;
  .drop {
    display: flex;
  }
}

.main {
  display: flex;
  //
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75%;
}

.cards {
  display: flex;
  flex-direction: column;
  @media (max-width: 425px) {
    .cards {
      flex-direction: column;
    }
  }
  .qcard {
    flex-direction: column;
    max-width: 18rem;
    min-height: fit-content;

    img {
      max-width: 100%;
    }
  }
  .rcard {
    max-width: 18rem;
    text-align: left;
    font-size: 16px;
  }
}

.form {
  display: flex;
}
.input {
  background-color: $prim;
  height: 1.3rem;
  color: $light;
  max-width: 11rem;
}

.footer {
  max-height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: inherit;
}

.nav {
  display: flex;
  justify-content: space-around;
}

//mi2

@media (max-width: 356px) {
  .header {
    justify-content: left;
    margin: 0;
  }
}
