//
@import "./fonts";
@import "./colors";
@import "./mixin";
@import "./clickables";
// @import "./bar";
//
body {
  margin: 0;
  display: block;
}
//
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $light;
  color: $prim;
  .logo {
    height: 25vmin;
    pointer-events: none;
    position: absolute;
  }
}

.header {
  border-bottom: 3px;
  border-color: $prim;
  background-color: $light;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include fontsize;
  color: $prim;
}

.main {
  // @include fontsize;
  margin-bottom: 1px;
  border-top: 3px solid;
  // border-bottom: 3px solid;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .input {
    @include fontsize;
    background-color: $prim;
    height: 1.3rem;
    color: $light;
    max-width: 11rem;
  }
  .A {
    border: 2px;
  }
  .B {
    border: 2px;
  }
  .count {
    border: 2px;
  }
}

.rcard {
  max-width: 17.6rem;
  text-align: left;
  font-size: 16px;
}

.footer {
  // @include fontsize;
  height: 15vh;
  display: flex;
  // flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $light;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: inherit;
}

// @media  {}
